.ul-normal {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Top NavBar design */
#top-nav ul.info-list {
    display: inline-flex;
    align-items: center;
    min-height: 45px;
    @media (max-width: 50rem) {
        display: flex;
        flex-flow: column;
        padding: 0.625rem;
    }
}

#top-nav ul.info-list > li {
    margin-right: 1.594rem;
    color: black;
}

/* Mobile NavBar menu */
.mobile-navbar .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.mobile-navbar .container .logo a img {
    width: 3.125rem;
    padding: 0.313rem;
}

.mobile-navbar .container .icon-list a {
    margin-left: 0.523rem;
    cursor: pointer;
    border-left: 1px solid rgba(60, 60, 60, 0.1);
    padding-left: 1rem;
    line-height: 3rem;
}

.mobile-navbar .container .icon-list a > i {
    color: rgba(60, 60, 60, 1)
}

/* NavBar menu */
#main-navbar a.logo img {
    width: 6rem;
    height: auto;
    padding: 0.8rem;
}

#main-navbar .icon-links .menu-list a {
    color: rgba(60, 60, 60, 1);
    margin-left: 1.75rem;
    text-decoration: none;
    cursor: pointer;
}

#main-navbar .icon-links .menu-list a:hover {
    color: black
}

#main-navbar .icon-links .icon-list a {
    margin-left: 0.523rem;
    cursor: pointer;
}

.icon-links .icon-list > a:first-child {
    margin: 0 1.625rem 0 1.125rem;
}

#main-navbar .main-links ul.navbar-nav li a {
    color: rgba(60, 60, 60, 1);
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-left: 2.578rem;
    text-decoration: none;
}

#main-navbar .main-links ul.navbar-nav li a:hover {
    color: black;
}

/* Banner design */
.banner-wrap {
    position: relative;
}

.carousel-item {
    min-height: 36.375rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 7.5rem;
    overflow: hidden;
}

.work-time {
    position: absolute;
    z-index: 1;
    right: 0;
    transform: translate(0%, 60%);
    min-width: 18.75rem;
    background: white;
    padding: 2rem;
    border-top-left-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
}

.virtual-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4rem;
    z-index: 1;
    /*border: 1px solid tomato;*/
}

.virtual-container .container {
    overflow: hidden;
}

.box-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow-x: scroll;
    @media (max-width: 995px) {
        justify-content: flex-start;
    }
}

.box-list .box-item {
    background-color: white;
    padding: 1.5rem;
    width: 11.125rem;
    height: 11.625rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    color: #141515;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

/* Attention section */
#attention .attention-row {
    min-height: 20rem;
    @media (max-width: 75rem) {
        min-height: auto;
    }
}

/* News section */
.post-item {
    /*border: 1px solid tomato;*/
    display: flex;
    flex-flow: column;
    /*min-height: 26.5rem;*/
    justify-content: space-between;
}

.post-item-height {
    min-height: 26.5rem;
}

.service-item-height {
    min-height: 23rem;
}

.post-item .post-content img {
    width: 100%;
}

.post-item .post-content time {
    font-family: var(--outfit-font-family), sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #808287;
    margin: 1rem 0;
    display: inline-block;
}

.post-item .post-content h4 {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2.5rem;
    color: #141515;
}

/* About us section */
.img-wrap {
    position: relative;
}

.img-wrap img.img-sm {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    max-width: 290px;
    height: auto;
    transform: translate(0%, 12%);
}

.img-wrap img {
    height: auto;
    max-width: 26.25rem;
    @media (max-width: 62.5rem) {
        max-width: 100%;
        height: auto;
    }
}

/* About us bg-img design */
.bg-img img {
    /* position: absolute; */
}

.bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    @media (max-width: 48.125rem) {
        overflow: hidden;
    }
}

section#about-us {
    position: relative;
}

.bg-img img.img-bg-right {
    position: absolute;
    right: 0;
    top: -7.5rem;
    @media (max-width: 81.25rem) {
        top: -3rem;
    }

    @media (max-width: 48.125rem) {
        top: -2rem;
        right: -10rem;
        width: 70%;
    }

    @media (max-width: 30rem) {
        top: 0;
        right: -7rem;
    }
}

.bg-img img.img-bg-left {
    position: absolute;
    left: 0;
    top: -4rem;
    width: 20%;
    @media (max-width: 48.125rem) {
        top: 0;
        left: 0;
        width: 150px;
    }
}

/* Google map */
#map {
    width: 100%;
    height: 430px;
    border-top-left-radius: 7.5rem;
}

/* Footer design */
#footer {
    min-height: 26.25rem;
    position: relative;
    overflow: hidden;
}

#footer img.img-bg-right {
    position: absolute;
    right: -6rem;
    bottom: 0rem;
}

.location-wrap h4.f-heading {
    margin-bottom: 1.25rem;
}

.location-wrap .address {
    color: #3C3C3C;
}

.location-wrap .address > a {
    text-decoration: none;
    cursor: pointer;
    color: #3C3C3C;
}

.time-table {
    display: flex;
    gap: 1rem;
}

.time-table .left-col-time li time {
    color: #3C3C3C
}

.informations ul li a {
    color: #3C3C3C;
    text-decoration: none;
    cursor: pointer;
}

ul.social-links {
    display: inline-flex;
    gap: 1rem;
    margin-top: 30px;
}

ul.social-links li a {
    display: inline-block;
    font-size: 2rem;
    color: var(--bs-primary);
    background-color: var(--bs-secondary);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5rem;
    overflow: hidden;
}

ul.social-links li a:hover {
    background-color: var(--bs-secondary-dark)
}

/* About us page UI */
.sub-banner {
    background-image: url('/assets/img/sub-banner-bg.png');
    background-color: var(--bs-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 13rem;
    color: #fff;
    border-top-right-radius: 7.5rem;
}

.sub-banner-title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.2rem;
    min-height: 13rem;
}

.sub-banner-title h2 {
    color: white;
}

.sub-banner-title a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul.history-links {
    display: flex;
    gap: 0.5rem;
}

/* Contact us */
ul.contact-infos {
    margin-top: 1.5rem;
}

ul.contact-infos li {
    color: #141515;
    font-size: 18px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

/* Situation section */
.situation-item {
    display: block;
    padding: 1rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    color: #141515;
    background-color: white;
}

.situation-item:hover {
    background-color: var(--bs-primary);
    cursor: pointer;
}

a.situation-item svg {
    width: 40px;
    margin-right: 1rem;
}

/* Other info section */
.other-info {
    position: relative;
    overflow: hidden;
}

.other-info:before {
    z-index: -1;
    position: absolute;
    content: "";
    background-image: url('/assets/img/other-info-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 3rem;
    width: 37.5rem;
    height: 28.25rem;
}

/* Institutional values section */
.institutional-values .para {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* About us side nav menu */
.about-us-nav-tabs {
    max-height: 430px;
}

ul.item-list li div {
    padding-left: 30px;
}

ul.item-list li svg {
    float: left;
    margin-top: 0.3rem;
}

ul.ul-normal.item-list li {
    clear: both;
    overflow: hidden;
    /*border: 1px solid tomato;*/
    margin-bottom: 1rem;
}




