:root {
    --base-font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
    --outfit-font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
    --base-font-size: 16px; /* 16px = 1 rem */
    --bs-primary: rgba(212, 240, 212, 1); /* Set primary color */
    --bs-primary-dark: rgba(212, 240, 212, 0.9); /* Set primary color */
    --bs-secondary: rgba(52, 104, 192, 1);
    --bs-secondary-dark: rgba(52, 104, 192, 0.9);

}

html, body{
    font-family: var(--base-font-family), serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* Improve rendering on WebKit browsers */
    -moz-osx-font-smoothing: grayscale;  /* Improve rendering on macOS Firefox */
}

/* Bootstrap reset */
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: black;
}

.btn-primary:hover {
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
    color: black;
}

.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 1.25rem 3.75rem;
}

.btn-secondary:hover {
    background-color: var(--bs-secondary-dark);
    border-color: var(--bs-secondary-dark);
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.heading2 {
    font-family: var(--outfit-font-family), sans-serif;
    font-weight: 250;
    font-size: 2.813rem;
    line-height: 3.875rem;
    color: rgba(20, 21, 21, 1);
}

/* Mobile offCanvas link list design */
.list-group-item a {
    text-decoration: none;
    display: block;
    color: rgba(60, 60, 60, 0.9);
}

.list-group-item a:hover {color: rgba(60, 60, 60, 1)}

/* TODO: remove this */
.container {
    /*border: 1px solid tomato;*/
}
