:root {
    --base-font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
    --outfit-font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue";
    --base-font-size: 16px; /* 16px = 1 rem */
    --bs-primary: rgba(212, 240, 212, 1); /* Set primary color */
    --bs-primary-dark: rgba(212, 240, 212, 0.9); /* Set primary color */
    --bs-secondary: rgba(52, 104, 192, 1);
    --bs-secondary-dark: rgba(52, 104, 192, 0.9);

}

html, body {
    font-family: var(--base-font-family), serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* Improve rendering on WebKit browsers */
    -moz-osx-font-smoothing: grayscale; /* Improve rendering on macOS Firefox */
}

/* Scrollbar UI */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Bootstrap reset */
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: black;
}

.btn-primary:hover {
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
    color: black;
}

.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 1.25rem 3.75rem;
}

.btn-secondary:hover {
    background-color: var(--bs-secondary-dark);
    border-color: var(--bs-secondary-dark);
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

/* Accordion update */
.accordion-button:not(.collapsed) {
    background-color: white;
}

.accordion-item:first-of-type .accordion-button {
    background-color: white;
}

.accordion-item:first-of-type, .accordion-item:last-of-type {
    border-radius: inherit;
}

.accordion-item {
    border-color: transparent;
    border-bottom: 1px solid var(--bs-secondary);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_55_806)%22%3E%3Cpath%20d%3D%22M10.998%202.04323V19.5646L7.70691%2016.282C6.76161%2015.3391%205.34371%2016.7535%206.28901%2017.6964L9.2909%2020.6859L11.2949%2022.6816C11.6849%2023.0684%2012.3149%2023.0684%2012.705%2022.6816L17.7089%2017.6964C17.9043%2017.5067%2018.014%2017.2456%2018.0117%2016.9736C18.0116%2016.0757%2016.9151%2015.6351%2016.2909%2016.282L12.9998%2019.5724V1.99161C12.9311%200.608772%2010.929%200.712022%2010.998%202.04323Z%22%20fill%3D%22%233468C0%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_55_806%22%3E%3Crect%20width%3D%2223.9385%22%20height%3D%2224%22%20fill%3D%22white%22%20transform%3D%22matrix(0%201%20-1%200%2024%200.0307617)%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    /*background-color: white;*/
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20transform%3D%22matrix(-1%2C1.2246467991473532e-16%2C-1.2246467991473532e-16%2C-1%2C0%2C0)%22%3E%3Cg%20clip-path%3D%22url(%23clip0_55_553)%22%3E%3Cpath%20d%3D%22M13.002%2021.9568V4.43539L16.2931%207.71797C17.2384%208.66086%2018.6563%207.24652%2017.711%206.30363L14.7091%203.31408L12.7051%201.3184C12.3151%200.931623%2011.6851%200.931623%2011.295%201.3184L6.29109%206.30363C6.09569%206.4933%205.98605%206.75438%205.98832%207.02639C5.98843%207.92428%207.08488%208.36492%207.7091%207.71797L11.0002%204.4276V22.0084C11.0689%2023.3912%2013.071%2023.288%2013.002%2021.9568Z%22%20fill%3D%22%233468C0%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_55_553%22%3E%3Crect%20width%3D%2223.9385%22%20height%3D%2224%22%20fill%3D%22white%22%20transform%3D%22matrix(0%20-1%201%200%200%2023.9692)%22%3E%3C%2Frect%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");

}

.heading2 {
    font-family: var(--outfit-font-family), sans-serif;
    font-weight: 250;
    font-size: 2.813rem;
    line-height: 3.875rem;
    color: rgba(20, 21, 21, 1);
    margin: 0;
}

/* Mobile offCanvas link list design */
.list-group-item a {
    text-decoration: none;
    display: block;
    color: rgba(60, 60, 60, 0.9);
}

.list-group-item a:hover {
    color: rgba(60, 60, 60, 1)
}

/* Title design with link */
a.title-with-link {
    color: #3C3C3C;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
}

a.title-with-link:hover {
    color: var(--bs-secondary);
}

a.title-with-link span {
    padding-right: 1.798rem;
}

.title-cols {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*border: 1px solid tomato;*/
}

/* Heading design for footer */
.f-heading {
    font-weight: 400;
    line-height: 2.125rem;
    font-size: 1.375rem;
    /*color: #141515;*/

}

.f-heading-with-line {
    font-family: var(--outfit-font-family), sans-serif;
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 1.125rem;
    position: relative;
    color: #141515;
}

.f-heading-with-line:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    right: 10rem;
    height: 2px;
    width: 75px;
    background-color: #3468C0;
}

.footer-title > h4 {
    margin-bottom: 35px;
}

/* Copyright section */
#copyright ul {
    display: inline-flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#copyright {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: #808287;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    @media (max-width: 48.125rem) {
        flex-flow: column;
    }
}


